body {
    background-color: #2C2141;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main {
    width: 624px;
    background-color: #F8F8F8;
    border-radius: 16px;
    padding: 32px;
    margin: 0px;
}
.special {
    color: #ED6D05;
}

.person{

}
.person__name {
    margin: 0px;
    font-weight: normal;
}
.person__position {
    margin: 0px;
    padding-bottom: 22px;
    font-style: italic;
}
.person__description--with-padding {
    padding-bottom: 22px;
}
.person__picture {
    border-radius: 74px;
}
